.page-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: blue;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
.pagination-container {
  display: flex;
  justify-content: center;
  width: 85%;
}
.btn-active {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}
.btn-disable {
  background-color: grey;
  border: 1px solid grey;
}
.pagination-body {
  display: flex;
}
